<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Game News</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        {{#link-to "noticia.listar-noticia"}}<a class="mdl-navigation__link" href="">Inicio</a>{{/link-to}}
        {{#link-to "noticia.gerenciar-noticia.criar-noticia"}}<a class="mdl-navigation__link" href="">Novo Post</a>{{/link-to}}
        {{#link-to "usuario.criar-usuario"}}<a class="mdl-navigation__link" href="">Criar conta</a>{{/link-to}}
        <a class="mdl-navigation__link" href="">Logar</a>
        {{#link-to "usuario.gerenciar-usuario"}}<a class="mdl-navigation__link" href="">Gerenciar Usuario</a>{{/link-to}}
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div id="espacamento"></div>
    <div class="page-content">{{outlet}}</div>
  </main>
</div>
