<div align="center">
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Nome</th>
      <th class="mdl-data-table__cell--non-numeric">E-mail</th>
      <th>Tipo usuario</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody id="teste2">

  </tbody>
</table>
</div>
{{#each model as |usuario|}}
  {{usuario}} - {{usuario.usuario.nome}}
{{/each}}
{{outlet}}
