{{outlet}}
<button {{action "alterarNoticia"}} class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="float:right;">
  Alterar
</button>
<button {{action "excluirNoticia"}} class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="float:right; margin-right:10px;">
  Excluir
</button>
